body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; }
  body header {
    height: 100%;
    background-color: #adcde9;
    margin: 1rem;
    padding: 2 rem; }
    body header h1 {
      color: black;
      font-size: 2rem;
      text-align: center; }
    body header .logo {
      width: 100px;
      height: 100px;
      float: left; }
    body header nav ul li {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      background-color: aliceblue;
      color: black; }
  body main {
    height: 100%; }
    body main h2 {
      color: black;
      font-size: 2rem;
      text-align: center; }
    body main p {
      font-size: small;
      font-family: Georgia, 'Times New Roman', Times, serif; }
  body footer {
    background-color: #adcde9;
    width: 100%;
    height: 140px;
    display: inline-flex; }
    body footer .divredes h3 {
      background-color: aliceblue;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      border-style: ridge;
      margin-bottom: 10px; }
    body footer .divredes ul {
      list-style-type: none;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      margin: 0 auto; }
      body footer .divredes ul li img {
        text-decoration: none;
        text-align: right;
        width: 30px;
        height: 30px; }
